@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* background: linear-gradient(45deg, rgba(165,213,254,1) 0%, rgba(45,134,191,1) 51%); */
  min-width: 320px;
  min-height: 100vh;
}


